body {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
    font-family: Trebuchet MS, helvetica, 'sans-serif';
    font-size: 2.00em;
}

h1 {
	font-size: 32px;
  font-family: Palantino, 'Palatino Linotype', serif;
  color: rgb(121,149,117);
}

h2 {
	font-size: 56px;
}

p {
 font-size: 1.5rem;
       line-height: 1.5;
       margin-bottom: 20px;
}

p1 {
 font-size: 1.1rem;
       line-height: 1.0;
       margin-bottom: 5px;
}


ul li{

      font-size: 20px;
      line-height: 1.5;
      margin-bottom: 20px;
      }

a { text-decoration: none; color:DimGray; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }



.footer {
    background-color: #F5F5F5;
    height: 80px;
    width: 100%;
    min-width: 300px;
    position: relative;
    }


.general {
	padding: 400px 0;
	margin: 0px;
  background-image: url("https://s3-us-west-2.amazonaws.com/frankschrijftafb/DSC00832.JPG");
  background-size: cover;
  color: #ffffff;
  
}

.longStory {
	padding: 150px 0;
	margin: 0px;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  font-size: 1.25em;
  background-image: url("https://s3-us-west-2.amazonaws.com/frankschrijftafb/Kaft+Boek+2.0.png");
  background-size: cover;
  color: #ffffff;

}
.shortStories {
        display:inline-block;
        white-space:nowrap;
        height: 350px;
}

.img1 {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  font-size: 1.25em;
  background-image: url("https://s3-us-west-2.amazonaws.com/frankschrijftafb/Lust.jpg");
  background-size: cover;
  color: #ffffff;
  width: 30%;
  border: 20px solid white;
}

.img2 {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  font-size: 1.25em;
  background-image: url("https://s3-us-west-2.amazonaws.com/frankschrijftafb/Vraatzucht.JPG");
  background-size: cover;
  color: #ffffff;
  width: 30%;
  border: 20px solid white;

}

.img3 {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  font-size: 1.25em;
  background-image: url("https://s3-us-west-2.amazonaws.com/frankschrijftafb/liefdeShort.png");
  background-size: cover;
  color: #ffffff;
  width: 30%;
  border: 20px solid white;
}

.shortStories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.button {
    background-color: none;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.main {

    padding-top: 10px;
    padding-right: 130px;
    padding-bottom: 10px;
    padding-left: 130px;
}

#footer {
 font-size: 0.75rem; 
}

nav {
  background-color: #FFF;
}

nav li {
  margin: 0;
  padding: 0 10px;
  display: inline-block;
}

nav {
    display: inline-block;
      position: absolute;
      top: 25px;
      right: 25px;
}
